.footer_main_div_display {
    border: 1px solid #E7E7E7;
    background-color: #f8f8f8;
    padding: 0 40px;
    padding-top: 40px;
  }
  
  .footer_middle_icons_text {
    font-weight: 400;
    font-size: 16px;
    color: #5A7184;
  }

  .footer_sub_heading {
    color: #707070;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
    .footer_logo_container{
        width: 34%;
        border-right: 2px solid white;
    }
    .footerLogo{
        width: 180px;
    }
    .footer_list{
        width: 22%;
        border-right: 2px solid white;
        box-sizing: border-box;
    }
    .footer_list:nth-last-child(1){
        border-right: none;
    }
    .footer_logo_image{
        width: 100%;
    }
  .footer_heading{
    text-align: center;
    color: #31B665;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contact_info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .Footer_Left_side_menu{
    display: flex;
    gap: 5px;
    text-align: center;
  }
  .Footer_Left_side_menu .footer_middle_icons_text{
    color: #5A7184;
   
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .bottom_white_line{
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 20px 0;
  }
  .bottom_menu_items ul, .footer_icons_column ol{
    display: flex;
    align-items: center;

  }
  .footer_icons_column ol{
    justify-content: flex-end;
    gap: 10px;
  }
  .bottom_menu_items ul li.footer_li {
   width: 33.33%;
   text-align: center;
    list-style-type: none;
    color: #183B56;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-right: 3px solid white;
  }
  .footer_icons_column ol li{
    list-style-type: none;
  }
  .footer_bootom_headings_container{
    
  }
  @media(max-width:1181px) {

  }
  
  @media(max-width:768px) {
   
  
  
  
  
   
    
  
   
  }
  @media(max-width:991px) {
  
  }
  
  @media(max-width:800px) {
   
  
  }
  
  @media(max-width:430px) {
 
  }
  @media(max-width:480px) {
   
   
  }
  

  

  
  