
.footer_section{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:200px;
  background-color:ghostwhite ;
}
/* navbar */
.nav_btn{
display: flex;
gap: 20px;
margin-left: 55px;


}
.nav_list ul{
  display: flex;
  gap: 40px;
  list-style-type: none;
  justify-content: flex-end;

}
.nav_list1 ul{
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.nav_list2 ul{

  display: flex;
  gap: 40px;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 40px;
}
