/* community */
.community_img_div img{
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comm_para p{
    font-size: 15px;
}
.comm_para1 p{
    font-size: 18px;
    
    color: #31B665;
}


/* dispensories card */
.color {
    color: #949494;
}
.dis_right_div {
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: black;
}
.Dispensaries_card_discription{
    font-size: 18px;
    display: flex;
    height: max-content;
}
.Dispensaries_card_discription .col-2{
    width: 25px;
}
.Dispensaries_card_discription .col-10{
 color: #949494;
}
.Dispensaries_card_discription span{
    color: #949494;
}
.disp_head p{
    font-weight: 700;
    font-size: 25px;
    margin-left:20px;
  } 
  .Rating  {
    display: flex;
  }

  /* end */
 

/* category */

 .Category_Image{
    display: flex;
    align-self: center;
 }
 .Image_Width{
    width: 100px;
    height: 100px;
 }
 @media screen and (max-width: 480px) {
    .Image_Width{
        width: 75px;
        height: 75px;
     }
     .Category_title{   
        font-size: 14px;
     }
  }
  @media screen and (max-width: 400px) {
    .Image_Width{
        width: 60px;
        height: 60px;
     }
     .Category_title{
        font-size: 12px;
     }
  }

  /*end*/
  /* weedCard */

  .weed_main_Div{
    height: 430px;
    width: 89%;
    margin: 20px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #7ED19F;
    box-shadow: 0px 4px 15px 12px rgba(177, 177, 177, 0.25);
    border-radius: 21px;
  }
  .span_nav_star{
    line-height: 82%;
    padding-left: 10px;
  }
  .weed_cart_btn{
    margin-left: 10px;
  }
  .fontStyle{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  }
  .comm_head_prop{
  font-size: 20px;
  color: #282625;
  }
  .common_sub_head{
    color: #949494;
  font-size: 12px;
  
  }
  .weed_btn{
    border-style: none;
    /* width: 50px; */
    height: 38px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid green;
    color: #989898;
    font-size: 12px;
  }

  .weed_btn .rs{
    font-size: 12px;
    color:black;
    font-weight: 700;
  }
 
  .weed_img_div img{
   width: 100%;
   height: 180px;
   border-radius: 15px;

  }
  .weed_img_cont{
    min-width: 100%;
  }
  .weed_btns_cont{
    display: flex;
    flex-wrap: wrap;
}
  @media(max-width:480px){
    .weed_main_Div{
        display: flex;
        height: 230px;
        min-width: 100%;
        margin: 0px;
        /* border: 1px solid lightgray; */
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 0px;
        border-right: 0px;


        border-radius: 0px;
    box-shadow:none;

    }
    .weed_img_cont{
      min-width: 30%;
    }
    .weed_btns_cont{
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
    }
  .weed_img_div img{
    width: 91%;
    height: 100px;
  }
 .weed_btn{
    font-size: 10px;
    width: 40px;

 }
  
  .content_cont{
    overflow-x: scroll;
    overflow-y: hidden;

  }

  }

  /* end */
  /* flavour */
  .flav_btn{
    display: flex;
    flex-wrap: wrap;

  }
  .flavo_btns{
    border-style: none;
    width: 150px;
    height: 38px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #989898;
    font-size: 12px;
  }
  .flav_img_div img{
    width: 100%;
    height: 250px;
  }
  .flavCont{
    background: #FAFAFA;
border: 1px solid #E7E7E7
  }
  @media(max-width:1470px){
    .flav_btn{
      display: block;

    }
  

  }
  @media(max-width:460px){
    .flavCont{
      flex-direction: column;

    }
    .flav_img_div img{
      width: 300%;
    }
  

  }

  /* end */
  