.term_condition .tc_hero{
  background-color: #E8FFF1
  ;
  text-align: center;
margin-bottom: 50px;
}
.term_condition .tc_hero .page_heading{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
line-height: 100px;
margin: 0;
}
.term_condition .tc_topic_list .heading_box{
    background: #31B665; 
    padding: 10px;
}
.term_condition .tc_topic_list .heading_box a{
  color: white;
  font-size: 22px;
  margin-right: 20px;
}
.term_condition .tc_topic_list ul{
    margin: 0;
    padding: 0;
}
.term_condition .tc_topic_list ul li{
    list-style-type: none;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    padding: 7px 10px;
    border: 1px solid #E0E0E0;
}
.term_condition .tc_topic_list ul li a{
    color: #000;
}
.term_condition .tc_content .tc_main-centent{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}
.term_condition .tc_content .tc_main-centent li{
   margin-bottom: 40px;
}
.term_condition .tc_content .tc_main-centent .question{
    display: block;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.term_condition .tc_content .tc_main-centent li .answer{
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}
.secondlist li:nth-child(1),
.secondlist li:nth-child(2),
.secondlist li:nth-child(3),
.secondlist li:nth-child(4){
visibility: hidden;
height: 0 !important;
margin: 0 !important;
} 
@media only screen and (max-width: 768px){
    .term_condition .tc_hero .page_heading{
     
    font-size: 22px;
    line-height: 70px;
    }
    .tc_topic_list{
        display: none;
    }
}
@media only screen and (max-width: 576px){
    .term_condition .tc_content .tc_main-centent{
        padding:0 40px;
    }
    .term_condition .tc_content .tc_main-centent .question {
     font-size: 18px; 
    }
    .term_condition .tc_content .tc_main-centent li .answer{
        font-size: 14px;
    }
    .term_condition .tc_content .tc_main-centent{
        font-size: 18px;
    }
}
@media only screen and (max-width: 480px){
    .term_condition .tc_hero .page_heading{
     
    font-size: 18px;
    line-height: 70px;
    }
}